body{
    background-color: grey;
    margin: 0;
    padding: 0;
    font-size: 13pt;
    font-family: 'Open Sans';
}

#linkLang {
    text-decoration: none;
    color: white;
}


.PageAndAccSettings{
    display: block;
    width: 1024px;
    height: 36px;
    margin: 0 auto;
    background-color: #4cb1ca;
    
    padding-left: 188px;
    padding-right: 188px;
    padding-top: 17px;
    
    
}

.LanguageSP{
    color: #bef2ff;
}

.LangType{
    color: white;
}

#MenuDIv{
display: inline-block;
}

#triangle-left {
	width: 0;
	height: 0;
    display: inline-block;
	border-top: 5px solid transparent;
	border-right: 10px solid #656565;
	border-bottom: 5px solid transparent;
}

#triangle-right {
	width: 0;
	height: 0;
    display: inline-block;
	border-top: 5px solid transparent;
	border-left: 10px solid #656565;
	border-bottom: 5px solid transparent;
}

.LangType{
    width: 65px;
    display: inline-block;
    text-align: center;
}

#currencyType{
    width: 40px;
    color: white;
}


.CategorySPN{
    display: inline-block;
    float: right;
    color: white;
    font-size: 13pt;
    padding-left: 6px;
    padding-right: 6px;
    transition: 0.25s;
}
.CategorySPN:hover{
    color: white;
    background-color: #656565;
    transition: 0.5s;
}

.CategorySPN:active{
    background-color: #454545;
    color: whitesmoke;
    transition: 0.2s;
    font-size: 12pt;
}


.CategorySlash{
    color: white;
    display: inline-block;
    float:right;
    padding-left: 10px;
    padding-right: 8px;
}

#Delimiter{
    margin-left: 398px;
    float: right;
}

