body{
    background-color: grey;
    margin: 0;
    padding: 0;
    font-size: 13pt;
    font-family: 'Open Sans';
}

#linkLang {
    text-decoration: none;
    color: white;
}


.PageAndAccSettings{
    display: block;
    width: 1024px;
    height: 36px;
    margin: 0 auto;
    background-color: #4cb1ca;
    
    padding-left: 188px;
    padding-right: 188px;
    padding-top: 17px;
    
    
}

.LanguageSP{
    color: #bef2ff;
}

.LangType{
    color: white;
}

#MenuDIv{
display: inline-block;
}

#triangle-left {
	width: 0;
	height: 0;
    display: inline-block;
	border-top: 5px solid transparent;
	border-right: 10px solid #656565;
	border-bottom: 5px solid transparent;
}

#triangle-right {
	width: 0;
	height: 0;
    display: inline-block;
	border-top: 5px solid transparent;
	border-left: 10px solid #656565;
	border-bottom: 5px solid transparent;
}

.LangType{
    width: 65px;
    display: inline-block;
    text-align: center;
}

#currencyType{
    width: 40px;
    color: white;
}


.CategorySPN{
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    color: white;
    font-size: 13pt;
    padding-left: 6px;
    padding-right: 6px;
    transition: 0.25s;
    border: 0;
    background-color: #4cb1ca;
    
}
.CategorySPN:hover{
    color: white;
    background-color: #656565;
    transition: 0.5s;
}

.CategorySPN:active{
    background-color: #454545;
    color: whitesmoke;
    transition: 0.2s;
    font-size: 12pt;
}


.CategorySlash{
    color: white;
    display: inline-block;
    float:right;
    padding-left: 10px;
    padding-right: 8px;
}

#Delimiter{
    margin-left: 398px;
    float: right;
}

#SearchAndCart{
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 188px;
    padding-right: 188px;
    margin: 0 auto;
    background-color: white;
    color:#656565;
    width: 1024px;
    height: 35px;
    flex-direction: column;
}

#LeoSHOP{
    font-size: 36px;
    font-weight: 800;
    padding-right: 40px;
}
.ShopCategories{
    display: inline-block;
    vertical-align:middle;
    margin-bottom: 16px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
    font-weight: 700;
    border: 0;
    background-color: white;
    transition: 0.25s;
}

.ShopCategories:hover{
    background-color: #656565;
    color: white;
    transition: 0.5s;
}
#Cartlet{
    transition: 0.25s;
}
#Cartlet:hover{
    background-color: #656565;
    color: white;
    transition: 0.5s;
}

.ProdCart{ 
    display: inline-block;
    vertical-align:middle;
    margin-top: 10px;
    margin-bottom: 16px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 5px;
    padding-top: 8px;
    font-size: 14px;
    font-weight: 700;
    float: right;
    border: 0;
    background-color: white;
}

#searchForm{
    display: inline-block;
    vertical-align:super;
    margin-left: 85px;
}

#btnFind{
    margin: 0;
    padding: 0;
    border: 1px solid #c6c6c6;
    height: 28px;
    font-size: 14px;
    color:#656565;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.2s;
}

#btnFind:hover{
background-color: #656565;
    color: white;
    transition: 0.5s;
}
#FindField{
    padding: 0;
    margin: 0;
    border: 1px solid #c6c6c6;
    height: 29px;
    background-color: white;
    padding-left: 5px;
}

